<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="validKey" value="testvalue1" />
    <add key="keyWithMissingValue" value="" />
    <add key="keyWithWhiteSpaceValue" value=" " />
    
    <add key="genericString" value="HelloWorld" />
    <add key="genericInt" value="12345" />
    <add key="genericGuid" value="00000000-0000-0000-0000-000000000000" />
    <add key="genericBool" value="true" />
    <add key="genericDateTime" value="1/1/2016" />

    <add key="email:user" value="notARealuser" />
    <add key="email:pswd" value="notARealpassword" />
    
  </appSettings>
</configuration>